*~
*.vs
*.vscode
*/*.vs
*/*.vscode
*/*/*.vs
*/*/*.vscode
build
install*
!build*.bmp
doxygen/html
doxygen/latex
docs/html
docs/latex
src/__pycache__
src/mavs_python/__pycache__
src/mavs_python/examples/autonomy/__pycache__
src/mavs_python/gui/__pycache__
src/mavs_python/gui/__pycache__
src/mavs_python/examples/__pycache__
src/mavs_python/examples/euro_ncap/__pycache__
src/mavs_python/mavs_gui.cmd
src/mavs_python/mavs_gui.sh
src/mavs_python/mavs_vehicle_editor.sh
src/mavs_python/mavs_vehicle_editor.cmd
src/mavs_python/*.pyc
src/mavs_python/mavs_python_paths.py
/data/data
/data/scenes/meshes/snow_scenes
/data/test
data/scenes/island.json
data/scenes/meshes/surfaces/car_scene/
data/scenes/meshes/surfaces/island/
data/scenes/snow100m_cows_deep.json
data/scenes/snow100m_cows_fine.json
data/scenes/truck_vehicle_snow.json
data/actors/actors/tigershark_actor.json
data/scenes/meshes/vehicles/tigershark/
data/scenes/with_snow100m__cows_edited.json
data/scenes/meshes/surfaces/snow_surface_hm_smoothed.obj
data/scenes/meshes/surfaces/snow_surface_hm_smoothed.obj
